@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: #171717;
}
.fueradelugar:before {
	height: 3.8rem;
	margin-top: -3.8rem;
	content: "";
	display: block;
}
/*form*/
form{
	align-content: center;
	padding: 4rem;
}
#sorteo{
	background: no-repeat center center;
 	background-size: cover; 
	height: 100vh;
	align-content: center;
}

#sorteo h1{
	font-size: 2.7rem;
	color: white; 
	margin-top: 13rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;

}
#sorteo p{
	font-size: 1.1rem;
	color: white;
		text-shadow: .1rem .1rem .8rem black; 
}
#sorteo h3{
	font-size: 1,5rem;
	color: white;
}
.col-md-5{
	padding: 2rem;
	margin-top: 7rem;
	box-shadow: -1px 1px 60px black;
	background: rgba(0,0,0,0.7);
}
.label{
	font-weight: normal;
	margin-top: 10px;
	color: white;
	font-size: 1rem;
}
.form-control{
	background: transparent;;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid #CC1E4A;
	font-size: 1rem;
}
small{
	font-size: 0.8rem;
	color: white;
}
input[type="raido"] {
	margin-top: 22px;
}
option{
	color: grey;
}

@media (max-width: 767px) {
		#sorteo h1{
	display: none; 
	}
	#sorteo p{
	display: none;
	}
}

/* Navbar */
.navbar{
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	background: rgba(0, 0, 0, .6);
}
.navbar-brand img {
	height: 4rem;
}
.navbar-nav li{
	padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
	color: white;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #CC1E4A;
}

/* Slider */
.carousel-item{
	height: 100vh;
}

.carousel-caption {
	position: absolute;
	top: 38%;
	text-transform: uppercase;
	width: 100%;
	right: 0;
	left: 0;
}
.carousel-caption h1 {
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;
}
.carousel-caption h3 {
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
}
.btn-lg {
	border-width: medium;
	border-radius: 0;
	font-size: 1.1rem;
}

/*About me*/
.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-md {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #CC1E4A;
  background-color: #CC1E4A;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #a6173b;
  background-color: #a6173b;
  color: white;
}
.narrow2 h1 {
	color: white;
	width: 75%;
 	margin: 0 auto;
  	padding-top: 2rem;
}
p.lead2 {
	padding: 1rem;
	color: white;
}
.narrow h5{
	font-size: 4rem;
  width: 75%;
  margin: 0 auto;
  padding-top: 6rem;
}

/*galeria*/
.jumbotron{
	background-color: #171717;
	border-radius: 0;
	padding: 3rem 0 2rem;

}
h3.heading {
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 1.9rem;
	color: white;
}
h5.heading {
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 1.9rem;
	color: #171717;
}
.heading-underline {
	width: 3rem;
	height: .2rem;
	background-color: #CC1E4A;
	margin: 0 auto 2rem;
}

/*revisar animacion */
.galeria img{
	max-width: 100%;
	transition: transform .5 ease;
}
.row.no-padding [class*=col-] {
	padding: 0;
}

.galeria img:hover {
	transform: scale(1.1);
	cursor: zoom-in;
}
.galeria {
	overflow: hidden;
}

/*news*/

.card {
	margin: 2rem;
}


/*contacto*/
footer {
	text-align: center;
	background-color: #171717;
	color: white;
	padding: 2rem 0 3rem;
	margin-top: 1rem;
}
footer img{
	height: 6rem;
	margin: 1.5rem 0;
}
footer a{
	color:white;
}
footer svg.svg-inline--fa {
	font-size: 1.6rem;
	margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
	color: #CC1E4A;
}
hr.socket {
	border-top: .2rem solid #a6173b;
	width: 100%;
}
/*imagen slider*/

.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


[class*="col-"] {
  padding: 1rem;
}

.row, .container-fluid {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

/*velocidad carousel*/
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  transition: -webkit-transform 1.2s ease;
  transition: transform 1.2s ease;
  transition: transform 1.2s ease,-webkit-transform 1.2s ease;
}

/*media queries*/
@media (max-width: 767px) {
	.carousel-caption h1 {
	font-size: 2.3rem;
	letter-spacing: .15rem;
	padding-bottom: .5rem;
	}
	.carousel-caption h3 {
	font-size: 1.2rem;
	padding-bottom: 1.2rem;
	}
	.btn-lg {
	font-size: 1rem;
	}
	.narrow h1 {
		font-size: 1.5rem;
	}
	p.lead {
		font-size: 1rem;
	}
}